@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

.ant-modal .ant-modal-content {
  background-color: #ebf2ff;
  /* height: 990px; */
}

.overflow-y-auto {
  height: calc(100% - 60px); /* Adjust height according to your input box height */
}


/* .modal-input-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #F3F3F3;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
} */


/* 
.sideBarQuestion::-webkit-scrollbar {
  width: thin;
}

.sideBarQuestion::-webkit-scrollbar-thumb {
  background-color: #ffd2d2;
}

.sideBarQuestion::-webkit-scrollbar-track { 
  background-color: #fff;  
} */



/* 
body {
  margin: 0;
  background: url('./assets/bg4.jpg');
  background-origin: content-box;
  object-fit: cover;
  background-repeat: round;
  height: 100vh;
  width: 100%;
} */


body {
  /* background-image: url('./assets/bg3.jpg'); */
  /* background-image: url('./assets/bg.png');
  background-repeat: no-repeat;*/
  background-color: #f5f8fa;
  background-attachment: fixed;
  background-size: cover; 
  color: #000;
}

.micro-phone{
  border: none;
  outline: none;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888;  */
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* input:focus {
  outline: none;
} */



/* @media screen and (max-width : 400px) {
  body{
    background-image: url('./assets/bg.png');
    background-repeat: round;
    color: #FFFFFF;
  }
} */

