@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  /* background-color: #6c100b; */
  background: url('./assets/bg.jpg');
  background-origin: content-box;
  object-fit: cover;
  /* background-image: linear-gradient(19deg, #fd2014 0%, #888888 100%); */
  background-repeat: round;
  /* background-origin: content-box; */
  height: 100vh;
  width: 100%;
}

.micro-phone{
  border: none;
  outline: none;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

